select {
  text-align-last: center;
  width: 100%;

  font-size: 1.7rem;
}

.city-selector-border select {
  border: none;
  outline: none;
}

.city-selector-border select:focus {
  border: none;
  outline: none;
}

.select-dark {
  background-color: var(--dark-background-background-color);
  color: var(--dark-clock-color);
}

.city-selector-border-dark {
  border-bottom: 2px solid var(--dark-clock-color);
}

.select-light {
  background-color: var(--light-background-background-color);
  color: var(--light-clock-color);
}

.city-selector-border-light {
  border-bottom: 2px solid var(--light-clock-color);
}
