.clock-date {
  border-top: solid 2px;
  text-align: center;
}

.clock-date-dark {
  border-top-color: var(--dark-clock-color);
  color: var(--dark-clock-color);
}

.clock-date-light {
  border-top-color: var(--light-clock-color);
  color: var(--light-clock-color);
}
