.clock-face {
  align-items: center;

  font-size: 1.5rem;
  padding: 0 3%;

  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  justify-items: center;
}

.clock-time {
  margin: 0;
}

.clock-face-dark {
  color: var(--dark-clock-color);
}

.clock-face-light {
  color: var(--light-clock-color);
}
