.clock-face {
  width: 100%;
  color: rgb(67, 255, 239);
  display: grid;
  align-content: center;
  justify-content: center;
}

.clock-time {
  letter-spacing: 1px;
  min-width: 235px;
  padding: 0px;
  margin: 0px;
  font-size: 4rem;
  border: 0;
}
