.background {
  position: absolute;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  height: max-content;
  min-height: 100%;
}

.dark {
  background-color: var(--dark-background-background-color);
}

.light {
  background-color: var(--light-background-background-color);
}
